.title{
    font-weight: bold;
    font-style: italic;
}
body{
    background-color: rgb(184, 227, 204);
    color: rgba(5, 19, 96, 0.694);

}
img{
    width: 100%;
    padding: 15vw;
    padding-top: 0;
    padding-bottom: 5vh;
}
nav{
    text-align: center;
    color: rgb(140, 146, 171);
}

th{
    color: blue;
}
